spring.mail.username=
spring.mail.password=

YAOZHER_DB_USERNAME=root
YAOZHER_DB_PASSWORD=

YAOZHER_REDIS_HOST=127.0.0.1
YAOZHER_REDIS_PORT=6379
YAOZHER_REDIS_PASSWORD=
YAOZHER_REDIS_DATABASE=0

YAOZHER_API_KEY_SECRET=
YAOZHER_JWT_SECRET=
